body {
  font-family: "Kanit", sans-serif;
  margin: 0;
}

/* Header Area Start */
.header-area {
  background-image: url(images/bannar.jpg);
  background-repeat: no-repeat;
  padding: 150px 200px;
  background-size: 100% auto;
  text-align: center;
}

.header-area .banner-heading {
  margin: 0;
  padding: 0 160px;
  font-size: 3.5rem;
  color: #ffffff;
  line-height: 60px;
}

.header-area .banner-para {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 35px 0;
}

.donate-button {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(10, 41, 143);
  padding: 10px 30px;
  border-radius: 10px;
}
/* Header Area End */
/* Donate Area Start */
.donate-area {
  text-align: center;
  padding: 100px 200px;
  background-color: aliceblue;
}

.donate-heading {
  font-size: 2.5rem;
  margin: 0;
}

.donate-para {
  font-size: 1.2rem;
  color: rgb(129, 134, 138);
}

.donate-amount-area {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.donate-amount {
  padding: 20px 20px;
  background-color: rgb(226, 238, 238);
  border-radius: 10px;
  font-size: 1.8rem;
  color: rgb(90, 87, 87);
  margin: 0 5px;
}

.active {
  border: 1px solid rgb(234, 0, 255);
  color: rgb(90, 87, 87);
  background-color: rgb(250, 218, 253);
}

.donate-area input {
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
  padding: 5px;
  width: 65%;
  text-align: center;
}

/* Donate Are End */
/* Donate Plan Area Strat  */
.donate-plan-area {
  padding: 75px 80px;
  background-color: rgb(226, 238, 238);
}
.donate-item {
  height: 300px;
  width: 350px;
  text-align: center;
}

.donate-plan {
  display: flex;
  justify-content: center;
}
.center {
  text-align: center;
  padding: 10px 150px;
}
.donate-plan-item {
  width: 30%;
  margin: 0 1%;
  padding: 10px 1%;
  border-radius: 10px;
}
.donate-item-heading {
  font-size: 1.8rem;
  margin: 0;
}

.color-1 {
  background-color: rgb(255, 223, 223);
}
.color-2 {
  background-color: rgb(195, 233, 238);
}
.color-3 {
  background-color: rgb(226, 223, 194);
}

/* Donate Plane Area End */
/* Photo Gallry Area Start */
.photo-gallery-area {
  padding: 75px 80px;
  text-align: center;
  background-color: rgb(250, 246, 246);
}

.photo-of-flood {
  width: 300px;
  height: 300px;
}

.photos {
  margin: 10px 10px;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 10px;
}
/* Photo Gallery Area End  */
/* Subscribe Area Start */
.subscribe-area {
  padding: 75px 80px;
  text-align: center;
}
.subscription-form {
  padding: 50px 150px;
  margin: 30px 220px;
  background-color: rgb(226, 223, 194);
}

.email {
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  padding: 5px 10px;
  margin: 0;
  background-color: rgb(255, 254, 223);
  border: none;
  border-radius: 10px;
}

.btn {
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  padding: 5px 10px;
  margin: 0;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
}

/* Subscribe Area End */
footer{
    margin: 0;
    background-color:black ;
    padding: 40px 0;
    text-align: center;
}

footer h2 {
    font-family: 'Righteous', cursive;
    color: red;
    margin: 0;
    font-size: 2rem;
}
footer h3 {
    font-family: "Kanit", sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    
}   